input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.line{
  height:1px;
  border:1px solid #000;
  margin-bottom:20px;
}

.price-card:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color:#ffcd4f !important;
}


.category-selection{
  padding:5px;
}
.category-selection:hover{ 
  text-shadow:#ffb800 2px 2px 5px;
  cursor: pointer;
}

.category-selection:hover > label{
  color:#013fa1;
  cursor: pointer;
}


